.vscode/
.fleet/
.cache/
build/
log/
data/

*/server/server
*/server/verifier
*/server/sharer

*/data*
*/base

run-dir/*
!run-dir/.gitkeep

scripts/deprecated

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
